@import "bulma/bulma";

.navbar-list {
  transition: max-height 500ms ease-out;
  overflow: hidden;

  .channel-item {
    cursor: pointer;
  }

  .channel-item.is-active {
    background-color: $primary;
    color: #fff;
  }
}

