@import "~bulma/bulma";

.editor-card {
  padding: 1em;
  border-radius: 5px;

  .editor-tools-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .bar-left {
      max-width: 80%;
      display: flex;
      justify-content: space-between;

      @include mobile {
        flex-wrap: wrap;
        margin-bottom: 1em;

        .image-upload {
          margin-bottom: 0;
        }
      }
    }

    .bar-right {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .emotion-select {
    margin-right: 1.5em;
  }

  .editor-emotion-text {
    font-family: Arial, serif;
  }

  .editor-rules {
    color: $primary;
  }

  .image-name {
    @include touch {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 8em;
    }
  }

  .upload-reset {
    color: $danger;
  }

  .get-backup {
    color: $primary;
  }
}
