@import "~bulma/bulma";

.editor-card {
  width: 30em;
  padding: 1em;
  border-radius: 5px;

  .editor-tools-bar {
    display: flex;
    justify-content: space-between;

    .bar-left {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .bar-right {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .emotion-select {
    margin-right: 1.5em;
  }

  .editor-emotion-text {
    font-family: Arial, serif;
  }

  .editor-submit {
    color: $link;
  }

  .editor-rules {
    color: $primary;
  }

  .get-backup {
    color: $primary;
  }

  .file-name {
    width: 8em;
  }
}
