@import "~bulma/bulma";

.editor-card {
  width: 30em;
  padding: 1em;
  border-radius: 5px;

  .editor-emotion-text {
    font-family: Arial, serif;
  }

  .editor-submit {
    color: $link;
  }

  .editor-rules {
    color: $primary;
  }

  .get-backup {
    color: $primary;
  }

  .file-name {
    max-width: 8em;
  }
}
