$menu-item-active-background-color: hsl(171, 100%, 41%);

@import "~bulma/bulma";

.sidebar {
  padding: 1.5em;
  height: calc(100vh - 3.25rem);
  border-right: 1px solid #ddd;
  overflow: auto;
  @include desktop {
    width: 200px;
  }
  &-list {
    transition: max-height 500ms ease-out;
    overflow: hidden;
  }
  &-list-hide {
    max-height: 0;
  }
  .setting-icon {
    transition: transform 300ms linear;
  }
  .setting-icon:hover {
    transform: rotate(180deg);
  }
  .tag {
    height: 1em;
  }
}
